<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="./assets/logo_jomat.png" style="width: 170px; height: 60px; margin-left: 5%;">
      <div class="collapse navbar-collapse" id="navbarColor02">
    </div>
   
      <!-- <button type="button" class="btn btn-outline-info mt-2" 
      style="font-size: 22px; width: 120px; height: 50px; font-family:'Raleway', sans-serif; font-weight: bold; margin-right: 1.5%;" routerLink="/">Inicio</button>


      <button type="button" class="btn btn-outline-success mt-2" 
      style="font-size: 22px; width: 120px; height: 50px; font-family:'Raleway', sans-serif; font-weight: bold; margin-right: 3%;" routerLink="/all">Registros</button> -->

      <div class="collapse " id="navbarColor02">
      </div>
    </div>
  </nav>
