
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin:0 auto;
    overflow: hidden;
  }
  
  @media screen and (max-width: 300px){
    .contenedor {
      width: 100%;
    }
  }

  .form-control {
    border: 2px solid #01588f;
    
  }


  .form{
    font-family: 'Roboto', sans-serif;
    
  }